<div class="container">
	<h2>SEND AN EMAIL</h2>
	<form>
	  <div class="form-group">
		<label for="usr">Reciptents</label>
		<input type="email" class="form-control" id="recep"  multiple>
	  </div>
	  <div class="form-group">
		<label for="exampleFormControlTextarea1">Message :</label>
		<textarea class="form-control" id="htmlmessage" rows="5" ></textarea>
	  </div>
	  <input type="button" value="Send" id="sendbtn">
	  <div id ="error" style="color:red;"></div>
	</form>
	<div id ="div2"></div>
  </div>
  

